<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
	<div class='center'>
		<h2>Enter a location and <a class='link' href="{{url_for('index')}}">Picky</a> will help you find something to do!</h2>
		<h4><a class='link' href="{{url_for('index')}}">Picky</a> is a little something <a class='link' href="https://www.linkedin.com/in/tedyarmoski/" target="_blank">Ted Yarmoski</a> whipped up during some of his free time. More information can probably be found on his <a class='link' href="https://github.com/Yarmoski" target="_blank">Github.</a> He's also most likely open for questions, bug reports, or even a chat if you reach out to him.</h4>
		</div>
</body>
</html>
