<!DOCTYPE html>
<html>
<head>
	<title>Picky</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
	<script type="text/javascript">
		<!-- Convert the python image and url lists to JSON and store them in variables -->
		var img_list = {{image_list|tojson}};
		var url_list = {{url_list|tojson}};
		var counter = 0;
		
		<!-- This runs when the "Another one" button is clicked. It changes the image and url to the next Yelp business on the list. If there are no more results available, then do not change the image/url and display a message. -->
		function increment(){
			var anchor = document.getElementById('yelp_anchor');
			var image = document.getElementById('yelp_img');
			if (counter < {{MAX_RESULTS}} - 1){
				counter += 1;
			}
			if (counter >= 1){
				anchor.href = url_list[counter];
				image.src = img_list[counter];
			}
			if (counter == {{MAX_RESULTS}} - 1){
				document.getElementById('title').innerHTML = "You've reached your maximum for this session. Click here to return!";
			}
		}
	</script>
</head>
<body>
	<div class='center'>
		<a href="{{url_for('index')}}">
			<h1 id='title'>Picky!</h1>
		</a>
		<a href="{{url_list[0]}}" id="yelp_anchor" target="_blank">
			<img src="{{image_list[0]}}" id="yelp_img" height="500">
		</a> <br> <br>

		<a class="myButton" onclick="increment();">Another One!</a> <br> <br>

		<small>
			Images courtesy of <a class='link' href="https://www.yelp.com/" target="_blank">Yelp.com.</a> <br>
			Website by <a class='link' href="https://www.linkedin.com/in/tedyarmoski/" target="_blank">Ted Yarmoski.</a>
		</small>
	</div>


</body>
</html>